:root {
    --bg-color: #000000;
    --nav-bg: rgba(238, 238, 238, 0.85);
    --text-color: #000000;
    --accent-color: #e10600;
    --btn-bg: #eeeeee;
    --btn-hover: #00000048;
    

    --hero-text: #ffffff;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Navigation */
nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    border-radius: 40px;
    background-color: var(--nav-bg);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

nav:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.nav-links {
    display: flex;
    gap: 30px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

nav a:hover {
    color: var(--accent-color);
}

nav a:hover::after {
    width: 100%;
}

nav a.active {
    color: var(--accent-color);
}

nav a.active::after {
    width: 100%;
}

.amount {
    position: inherit;
    right: 30px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
}

.amount:hover {
    color: var(--accent-color);
    transform: translateY(-1px);
}

/* Global Buttons */
button {
    background-color: var(--btn-bg);
    color: var(--text-color);
    padding: 15px 30px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--btn-hover);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: -1;
}

button:hover {
    color: var(--btn-bg);

}

button:hover::before {
    width: 100%;
}

@media (max-width: 900px) {
    nav {
        width: 95%;
        padding: 10px;
    }

    .nav-links {
        gap: 15px;
    }

    nav a {
        font-size: 12px;
    }
}

footer {
    background: linear-gradient(to bottom, rgba(39, 39, 39, 0.349));
    color: var(--nav-bg);
    text-align: center;
    padding: 10px;
}